form{
    margin: 0 5rem;
    display: inline-block;
    background-color: beige;
}

input{
    display: block;
    margin: 2rem;
    height: 2.5rem;
    width: 80%;
}

button{
    margin: 0 10rem;
}

body{
    background-color: azure;
}